<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 

<mapper namespace="com.aikan.mapping.CatalogMapper">
	
	
	<resultMap type="Catalog" id="catalogResultMap">
		<!-- 用id属性来映射主键字段 -->
		<id property="catalogId" column="catalogId"/>
		<!-- 用result属性来映射非主键字段 -->
		<result property="bookId" column="bookId"/>
		<result property="bookChapterId" column="bookChapterId"/>
		<result property="bookChapterName" column="bookChapterName"/>
		
	</resultMap>
	
	<!-- 根据目录编号和章节编号（联合主键）查找一条目录记录（某一章）-->
	<select id="selectOneById" parameterType="Catalog" resultMap="catalogResultMap">
		select * from catalog where catalogId = #{catalogId} and bookChapterId=#{bookChapterId}
  	</select>
  	
	<!-- 根据目录表id，查找所有的章节-->
	<select id="selectAllChapter" parameterType="int" resultMap="catalogResultMap">
		select * from catalog where catalogId = #{catalogId}
  	</select>
  
	  	  	
	<!-- 新增目录 --> 	
	<insert id="insert" parameterType="Catalog">
  		insert into catalog(catalogId,bookId,bookChapterId,bookChapterName) 
  		values(#{catalogId},#{bookId},#{bookChapterId},#{bookChapterName})
  	</insert>
  	<update id="update"  parameterType="Catalog">
  		update catalog
  		set bookChapterName = #{bookChapterName},bookId = #{bookId}
  		where catalogId=#{catalogId} and bookChapterId=#{bookChapterId}
  	</update>
  	
  	<!-- 根据章节号删除一个章节 -->
  	<delete id="deleteOne" parameterType="Catalog">
  		delete from catalog 
  		where catalogId=#{catalogId} and bookChapterId=#{bookChapterId}
  	</delete>
  	
  	<!-- 根据章节号删除一组章节 -->
  	<delete id="deleteManyChapter">
  		delete from catalog where catalogId=#{catalogId} and bookChapterId in
  		<foreach collection="bookChapterIds" index="i" item="bookChapterId" open="(" separator="," close=")">
  			#{bookChapterId}
  		</foreach>
  	</delete>	  	
</mapper>